/* For small screens (mobile devices) */
@media only screen and (max-width: 992px) {
  .mt-2 {
    margin-top: 0.5rem;
  }

  body {
    background-color: #0d1531;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    /* unscrollable */
    overflow-x: hidden;
    max-width: 100vw;
  }

  .movie-player {
    /* keep aspect ratio */
    position: relative;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .movie-container {
    display: flex;
    justify-content: center;
  }

  .server-container button {
    background-color: #1c2955;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    /* make all width the same */
    width: 20rem;
    height: 5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: background-color 0.5s ease;
  }

  .server-container span {
    text-align: center;
    max-width: 50vw;
    font-size: x-small;
  }

  .server-container button:hover {
    background-color: #273b85;
  }

  button.selected {
    background-color: #328f20;
  }

  .movie-player iframe {
    width: 100%;
    height: 100%;
  }

  .server-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #141d3d;
    border-radius: 16px;
    padding: 20px;
  }
  .movie-server-buttons {
    display: flex;
    /* make it scrollable */
    overflow-x: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
  }
  .server-container span {
    text-align: center;
    max-width: 50vw;
  }

  .movie-info {
    border-radius: 16px;
    background-color: #141d3d;
    margin-top: 1rem;
    min-height: 80px;
    display: flex;
    justify-content: left;
    padding: 0.5rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .movie-info h1 {
    font-size: medium;
  }

  .movie-info-item img {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 1rem;
  }

  .movie-info-text span {
    font-weight: 300;
    font-size: smaller;
  }

  .movie-info-description {
    /* max height */
    max-height: 10rem;
    height: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .genre {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text inside the element */
    border: seashell 1px solid;
    max-width: 10rem;
    height: 2rem;
    border-radius: 8px; /* Optional: Add rounded corners */
    background-color: #141d3d; /* Optional: Add background color */
    /* postition to the bottom */
    margin-right: 0.8rem;
    padding: 10px;
  }

  .genre-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
  }

  .rating-date span {
    margin-right: 0.4rem;
  }

  .rating-date svg {
    margin-right: 0.2rem;
  }

  .movie-caraousel-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
  }

  .recommendation-container {
    margin-top: 1rem;
    background-color: #141d3d;
    border-radius: 16px;
    padding: 0.2rem;
    display: grid;
    height: auto;
    padding: 0.5rem;
    overflow: hidden;
  }
  .recommendation-container h2 {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .prev-popular,
  .next-popular {
    display: none;
  }

  .episodes-container {
    width: 100%;
    margin-top: 1rem;
    background-color: #141d3d;
    border-radius: 16px;
    padding: 0.5rem;
    display: grid;
    min-height: 20vh;
    user-select: none;
  }
  .episodes-container h2 {
  }
  .season-dropdown {
    /* Add your styles here */
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .season-dropdown label {
  }
  .season-dropdown select {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fcfcfc;
    background-color: #1c2955;
  }
  .season-dropdown select option {
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fcfcfc;
  }
  .season-dropdown select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .episode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .episode-card {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #1c2955;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* vertical align */
    align-items: center;
    margin-right: 1rem;
    /* overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .episode-card:hover {
    background-color: #273b85;
    cursor: pointer;
  }
  .episode-card svg {
    margin-right: 0.5rem;
    width: 32px;
    height: 32px;
  }

  .episode-card h3 {
    font-weight: bold;
    margin: 0;
    text-align: left;
    width: 30%;
  }
  .episode-card p {
    text-align: left;
    width: 70%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .episode-card:hover > svg {
    animation: scale 1s infinite;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .episode-selected {
    background-color: #273b85;
  }
  .container-watch {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For large screens (desktops) */
@media only screen and (min-width: 993px) {
  .mt-2 {
    margin-top: 0.5rem;
  }

  .container-watch {
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
    align-items: center;
  }

  .movie-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 76vh;
    margin-top: 2rem;
  }

  .movie-container {
    display: flex;
    justify-content: center;
  }

  .server-container button {
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1d2955;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .server-container button:hover {
    background-color: #273b85;
    transition: background-color 0.5s ease;
  }

  button.selected {
    background-color: #328f20;
  }

  .movie-player iframe {
    width: 100%;
    height: 100%;
  }

  .movie-server-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
  }

  .server-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #141d3d;
    border-radius: 16px;
    padding: 0.5rem;
    display: grid;
  }

  .server-container span {
    text-align: center;
  }

  .movie-info {
    border-radius: 16px;
    background-color: #141d3d;
    margin-top: 1rem;
    min-height: 27vh;
    display: flex;
    justify-content: left;
    padding: 0.5rem;
    width: 100%;
  }

  .movie-info-item img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 1rem;
  }

  .movie-info-text span {
    font-weight: 600;
  }

  .movie-info-description {
    max-height: 10rem;
    height: 9rem;
  }

  .genre {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text inside the element */
    border: seashell 1px solid;
    max-width: 10rem;
    height: 2rem;
    border-radius: 8px; /* Optional: Add rounded corners */
    background-color: #141d3d; /* Optional: Add background color */
    /* postition to the bottom */
    margin-right: 0.8rem;
    padding: 10px;
  }

  .genre-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
  }

  .rating-date span {
    margin-right: 0.4rem;
  }

  .rating-date svg {
    margin-right: 0.2rem;
  }

  .movie-caraousel-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
  }

  .recommendation-container {
    width: 100%;
    margin-top: 1rem;
    background-color: #141d3d;
    border-radius: 16px;
    padding: 0.5rem;
    display: grid;
    height: auto;
  }
  .recommendation-container h2 {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .episodes-container {
    width: 100%;
    margin-top: 1rem;
    background-color: #141d3d;
    border-radius: 16px;
    padding: 0.5rem;
    display: grid;
    min-height: 20vh;
    user-select: none;
  }

  .season-dropdown {
    /* Add your styles here */
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* transition */
    transition: all 0.5s ease;
  }
  .season-dropdown select {
    width: 10vw;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fcfcfc;
    background-color: #1c2955;
  }
  .season-dropdown select option {
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fcfcfc;
  }
  .season-dropdown select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .episode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    /* transition */
    transition: all 1s ease;
  }
  .episode-card {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #1c2955;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* vertical align */
    align-items: center;
    width: 12vw;
    margin-right: 1rem;
    height: 7vh;
    /* overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* transition */
    transition: background-color 0.3s ease;
  }
  .episode-card:hover {
    background-color: #273b85;
    cursor: pointer;
  }
  .episode-card svg {
    margin-right: 0.5rem;
    width: 32px;
    height: 32px;
  }

  .episode-card h3 {
    font-weight: bold;
    margin: 0;
    text-align: left;
    width: 30%;
  }
  .episode-card p {
    text-align: left;
    width: 70%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .episode-card:hover > svg {
    animation: scale 1s infinite;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .episode-selected {
    background-color: #273b85;
  }

  .warning-container {
    width: 100%;
    margin-top: 1rem;
    background-color: #273b85;
    border-radius: 10px;
    padding: 0.5rem;
    display: grid;
    user-select: none;
  }
  .warning-container span {
    font-weight: bold;
  }
  .warning-container h2 {
    margin-left: 1.5rem;
    font-weight: bold;
  }
}
